/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(3,64,106);
    background: linear-gradient(137deg, rgba(3,64,106,1) 0%, rgba(9,58,121,1) 23%, rgba(0,212,255,1) 87%);   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    font-family: 'Hahmlet', serif;
}
section{

    width:100%;
}
/* Corpo da página  ^*/

/* titulo com efeito neon */
#header{
    width: 100%;
    /* font-size: 5rem; */
    color:#c6e2ff;
    text-align: center;
    animation: neon .1s ease-in-out infinite alternate;
    margin-top: 2rem;
}
#header h1{ 
    font-size:5rem;
}
#header p{
    font-size: 2rem; 
}
@keyframes neon{
from{
    text-shadow: 
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);

}
to{
    text-shadow: 
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
    
}
}

header:focus, header:hover{ 

    color: #c6e2ff;
        text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);

}
/*titulo com efeito neon*/
/* menu lateral */
#navgation{
    grid-area: aside;
    color: #fff;
    position: sticky;
    top:0;
    z-index: 9;
    
}
#navigation img{
    width: 10%;
}
#navgation ul{
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#navgation ul li{
    /* width: 70%; */
    border-radius: .3rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(8, 44, 68); /*mudança cor*/
    background-color: #fff;
    border: 2px solid rgb(8, 44, 68); /*mudança cor*/
    padding: .5rem; /*aumento da padding*/
    margin: .2rem .3rem;
    letter-spacing: .1rem;
    cursor: pointer;
    z-index: 10;
    position: relative;
    transition: all .4s;
}
#navgation ul li::before{/* efeito de transição do background */
    content: '';
    position:absolute;
    top:0;
    left:0px;
    width:10px;
    height:100%;
    background: rgba(30,132,242,0.58);
    z-index:-1;
    transition: all .4s
}
#navgation ul .exit::before{
    content: '';
    position:absolute;
    top:0;
    left:0px;
    width:10px;
    height:100%;
    background: rgb(179, 0, 0);
    z-index:-1;
    transition: all .4s
}
#navgation ul li:hover::before{
    width:100%;
}

#navgation ul li:hover{
    color:white;
}
/* navegador ^ */

/* página dos produtos */
#productPainel{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    overflow: auto;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#productPainel .product{
    margin: 1rem;
    background-color:white;
    position: relative;
    padding: .5rem;
    border-radius: 4px;
    width: 18rem;
    text-align: justify; /* descricão centralizada*/
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}
.product:hover{
    transform: scale(1.1);
}
#productPainel .price{
    font-weight: 700;
    margin: 0.5rem 0;
}
#productPainel img{
    width: 100%;
    margin-top: 0.5rem;
}
#productPainel p{
    line-height: 1.2rem;
    color: rgba(3,64,106,1);
    font-weight: 530;
}
#productPainel .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#productPainel .fa-edit{
    border-radius: .3rem;
    font-size: 1.3rem;
    color: rgb(3,64,106);
    background-color: #fff;
    border: 2px solid rgb(3,64,106);
    padding: .3rem;
    margin: .2rem .3rem;
    cursor: pointer;
    transition: all .4s;

}
#productPainel .fa-trash{
    border-radius: .3rem;
    font-size: 1.3rem;
    color: rgb(3,64,106);
    background-color: #fff;
    border: 2px solid rgb(3,64,106);
    padding: .3rem;
    margin: .2rem .3rem;
    cursor: pointer;
    transition: all .4s;
}
#productPainel .fa-edit:hover{
    background-color:rgb(3,64,106);
    color: #fff;
    
}
#productPainel .fa-trash:hover{
    background-color:red;
    color: #fff;
}
/* Footer */
footer{
    grid-area: footer;
    border-top: 1px solid rgba(3,64,106,1);
    width: 100%;
    
}

footer p{
    color: rgba(202,228,225,0.98);
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

/* nav.menu{
    grid-area: nav;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

nav.menu a{
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2rem;
    border-radius: .2rem;
    transition: all .5s ease-in-out;
}

nav.menu a:hover{
    border:none;
    background: rgb(148, 189, 197);
    color: rgba(9,58,121,1);
    padding: .8rem;
    font-weight: 600;

} */