/* @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(3,64,106);
    background: linear-gradient(137deg, rgba(3,64,106,1) 0%, rgba(9,58,121,1) 23%, rgba(0,212,255,1) 87%);   
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-clip: padding-box;
    font-family: 'Hahmlet', serif;
}
section{

    width:100%;
}
/* Corpo da página  ^*/

/* titulo com efeito neon */
#header{
    width: 100%;
    /* font-size: 5rem; */
    color:#c6e2ff;
    text-align: center;
    animation: neon .1s ease-in-out infinite alternate;
    margin-top: 2rem;
}
#header h1{ 
    font-size:5rem;
}
#header p{
    font-size: 2rem; 
}
@keyframes neon{
from{
    text-shadow: 
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);

}
to{
    text-shadow: 
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
    
}
}

header:focus, header:hover{ 

    color: #c6e2ff;
        text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);

}
/*titulo com efeito neon*/

/* menu horizontal */
#navgation{
    grid-area: aside;
    position: sticky;
    top:0;
    z-index: 9;
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .25);
    overflow: hidden;
    height: 5rem;
    padding: 1rem;
}

 #navgation .menu{ 
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#navgation .menu .item{
    position: relative;
    padding: 1rem;
    width: 10rem;
    height: 100%;
    transition: ease .4s;
    cursor: pointer;
}

#navgation .menu .item:hover{
    background-color: rgba(3,64,106,1);
    border-radius: 1rem;
    
}

#navgation .menu .item .link{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 5rem;
    color: rgba(0,212,255,1);
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: ease .4s; 
    

} 

#navgation .menu .item .link span{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80%;
    top: -20%;
    opacity: 1;
    transition: ease .4s; 

}

#navgation .menu .item .link i{ 
    position: absolute;
    display: flex;
    justify-content: center;
    top: 60%; /*o ícone mantém-se mais perto da borda inferior*/
    transform: translateY(-50%);
    width: 80%; 
    font-size: 1.8rem;
    transition: ease .4s;
}
#navgation .menu .item:hover .link span{
    opacity: 1; 
    top:10px;
   
}

#navgation .menu .item:hover .link i{
    transform: translateY(-75%); /*quando o hover for acionado, o ícone elava-se um pouco*/
} 
/*
#navigation img{
    width: 10%;
}
#navgation ul{
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#navgation ul li{
    /* width: 70%; */
    /* border-radius: .3rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(8, 44, 68); /*mudança cor*/
    /* background-color: #fff;
    border: 2px solid rgb(8, 44, 68); /*mudança cor*/
    /* padding: .5rem; /*aumento da padding*/
    /* margin: .2rem .3rem; */
    /* letter-spacing: .1rem; */
    /* cursor: pointer; */
    /* z-index: 10; */
    /* position: relative;  */
    /* transition: all .4s;  */
/* } */
/* #navgation ul li::before{efeito de transição do background */
    /* content: ''; */
    /* position:absolute; */
    /* top:0; */
    /* left:0px; */
    /* width:10px; */
    /* height:100%; */
    /* background: rgba(30,132,242,0.58); */
    /* z-index:-1; */
    /* transition: all .4s */
/* } */
/* #navgation ul .exit::before{ */
    /* content: ''; */
    /* position:absolute;
    top:0;
    left:0px;
    width:10px;
    height:100%;
    background: rgb(179, 0, 0);
    z-index:-1;
    transition: all .4s */
/* } */
/* #navgation ul li:hover::before{
    width:100%;
} */

/* #navgation ul li:hover{
    color:white; 
} */
/* navegador ^ */
/* Tela de cadastro */
#cadastro{
    display:none;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
form{
    padding: 3rem;
    background-color: rgba(0,212,255,.1);
    width: 50%;
    position: relative;
    box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
    border-radius: 1rem;
}

form h1{
    font-size: 2rem;
    color:#c6e2ff;
    text-align: center;
    animation: neon .1s ease-in-out infinite alternate;
    margin-bottom: 1rem;
}

form input, textarea{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: rgba(0,212,255,.1);
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color:white;
}

form label {
    width: 100%;
    font-size: 1.2rem;
    color: #c6e2ff;
    font-weight: 700;
}

form button {
    margin-top: 1.2rem;
    width: 90%;
    height: 90%;
    justify-self: center;
    background-color: rgba(0,212,255,1);
    border-radius: 12px;
    color: #575A89;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    cursor: pointer;  
}

form button:hover {
    background-color: #0066ff;
    color: #fff;
}
/* lista de itens */
#table{
    display: flex;
    align-items: center;
    justify-content: center;

}
#lista table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 3rem;
    background-color: rgba(0,212,255,.1);
    width: 65%;
    box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
    border-radius: 1rem;

}
#lista table th, td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

#lista table td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#lista table a {
    padding: 1rem;
    color: #0066ff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#lista table a:hover{
    color: #aacbfb;
}

#edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
/* Footer */
footer{
    grid-area: footer;
    border-top: 1px solid rgba(3,64,106,1);
    width: 100%;
    
}

footer p{
    color: rgba(202,228,225,0.98);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
}

/* nav.menu{
    grid-area: nav;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

nav.menu a{
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 2rem;
    border-radius: .2rem;
    transition: all .5s ease-in-out;
}

nav.menu a:hover{
    border:none;
    background: rgb(148, 189, 197);
    color: rgba(9,58,121,1);
    padding: .8rem;
    font-weight: 600;

} */