
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(3,64,106);
    background: linear-gradient(137deg, rgba(3,64,106,1) 0%, rgba(9,58,121,1) 23%, rgba(0,212,255,1) 87%);   
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-clip: padding-box;
    font-family: 'Hahmlet', serif;
}

section{
    /* max-width: 50%;
    max-height: 50%; */
    margin: 0rem, .5rem;
}
.colaboradores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    color: white;
}

.colaboradores h2{
    font-weight: 700%;
    font-size: medium;
    text-align: center;

}

.colaboradores p{
    font-weight: 400%;
    font-size: small;
    text-align: center;
}
.colaboradores div{
    max-width: 20vw;
    padding: 3rem;
}

.colaboradores img{
    max-width: 15vw;
    display: block;
    text-align: center;
    border-radius: 10%;
}

.colaboradores div.icons{
    display: flex;
    justify-content: center;
    
}
.colaboradores div.icons a{
    text-decoration: none;
    color: white;
}
    
/* .imagem {
    position: relative;
}
.capa {
    display: none;
}

.imagem::hover .capa {
    display: block;
}

.capa {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
} */





