@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background: rgb(3,64,106);
    background: linear-gradient(137deg, rgba(3,64,106,1) 0%, rgba(9,58,121,1) 23%, rgba(0,212,255,1) 87%);   
    background-repeat: no-repeat;
    background-clip: padding-box;
    font-family: 'Roboto Slab', serif;
}

/*  cabeçalho */
#header{
    width: 100%;
    /* font-size: 5rem; */
    color:#c6e2ff;
    text-align: center;
    animation: neon .1s ease-in-out infinite alternate;
    margin-top: 2rem;
}
#header h1{ 
    font-size:5rem;
}
#header p{
    font-size: 2rem; 
}
@keyframes neon{
from{
    text-shadow: 
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);

}
to{
    text-shadow: 
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
    
}
}

header:focus, header:hover{ 

    color: #c6e2ff;
        text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);

}
/*titulo com efeito neon*/

/* menu horizontal */
#navgation{
    grid-area: aside;
    position: sticky;
    top:0;
    z-index: 9;
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .25);
    overflow: hidden;
    height: 5rem;
    padding: .5rem;
}

 #navgation .menu{ 
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#navgation .menu .item{
    position: relative;
    padding: 1rem;
    width: 10rem;
    height: 100%;
    transition: ease .4s;
    cursor: pointer;
}

#navgation .menu .item:hover{
    background-color: rgba(3,64,106,1);
    border-radius: 1rem;
    
}

#navgation .menu .item .link{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 5rem;
    color: rgba(0,212,255,1);
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: ease .4s; 
    

} 

#navgation .menu .item .link span{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 80%;
    top: -20%;
    opacity: 1;
    transition: ease .4s; 

}

#navgation .menu .item .link i{ 
    position: absolute;
    display: flex;
    justify-content: center;
    top: 60%; /*o ícone mantém-se mais perto da borda inferior*/
    transform: translateY(-50%);
    width: 80%; 
    font-size: 1.5rem;
    transition: ease .4s;
}
#navgation .menu .item:hover .link span{
    opacity: 1; 
    top: 13px;
   
}

#navgation .menu .item:hover .link i{
    transform: translateY(-75%); /*quando o hover for acionado, o ícone elava-se um pouco*/
} 


/* lista de produtos */

article{
    display: block;
    justify-content:space-between;
    align-items: center;
    /* padding-top: 1rem; */
    /* width: auto; */
    
}

article .lateral{
    height: 60rem;
    position: absolute;
}

.listaP{
    background-color:#ffffff30;
    border-radius: 20px;
    display: flex;
    position: relative;
    margin: 0 auto 0 auto;
    width: 60%;
    padding: 4rem;
    height: 100%;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-around;
    /* flex-direction:row;   */
}


.listaP .card a {
    text-decoration: none;
    
    
}
.listaP img{
    width: 90%;
}
.card{
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 12rem;
    height:25rem;
    margin: 0 0 2rem 0;
    text-align: center;
    background-color:#ffffffa8;
    border-radius: 20px;
    font-weight: bold;
}

.listaP h2 {
    font-weight: 700;
    color: rgb(7, 87, 147);
    text-shadow: .1em .1em .2em black;
}
.card:hover {
    box-shadow: 0px 2px 10px 5px #5adfd8;;
    
}


.lateral {
    background-color: #18286950;
    width: 10%;
    height: 62%;
    padding-left: 2rem;
    margin-left: 1rem;
    border-radius: 20px;
    padding-top: 2rem;

}

.lateral h3{
    color: rgba(0,212,255,1);
    margin-bottom: 1.5rem;
}
  

.lateral div a{
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: .5rem;
    border-left: 2px solid rgba(0,212,255,1);
    transform: .4s ease-out;
}

.lateral div a:hover{
    background-color: rgba(30,132,242,0.92);
    color: rgba(9,58,121,1);
    font-weight: bold; 
    width:90%;
    border-radius: 1rem;
}

footer{
    border-top: 1px solid rgba(3,64,106,1);
    width: 100%;
    margin-top:.5rem;
    
}

footer p{
    color: rgba(202,228,225,0.98);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
}
