<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Area do Administrador</title>
</head>

<body>
    <section>
        <header id="header">
            <h1>Blue Store</h1>
            <p>Painel do Administrador</p>
          
        </header>
        <nav id="navgation">
            <ul>
                <li><a href="/add">Adicionar produto</a></li>
                <li>Ir para loja</li>
                <li>Sobre nós</li>
                <li class="exit">Sair</li>
            </ul>
        </nav>

        <section>
            <form action="/formulario" method="POST">
                <label for="nome">Nome do produto</label>
                <input type="text" id ='nome' name ='nome'>
            
                <label for="imagem">Link da imagem</label>
                <input type="text" id= 'imagem' name='imagem'>
                
                <label for="descricao">Descrição</label>
                <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
            
                <label for="preco">Preço</label>
                <input type='number' id='preco' name = 'preco'>
            
                <button type="submit">Adicionar</button>
            </form>
        </section>
        <section>
            <div class="product">
                {% for v in tabela%}
                <h2>{{v.nome}}</h2>
                <img src="{{v.link}}" alt="">
                <p>{{v.descricao}}</p>
                <p class="price">{{v.preco}}</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
                {% endfor %}

            </div>
        </section>
        <footer>
            <p>&copy;Blue Store - 2021</p>
        </footer>
    </section>
</body>

</html>