<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Area do Administrador</title>
</head>

<body>
    <section>
        <header id="header">
            <h1>Blue Store</h1>
            <p>Painel do Administrador</p>
          
        </header>
        <nav id="navgation">
            <ul>
                <li>Adicionar produto</li>
                <li>Ir para loja</li>
                <li>Sobre nós</li>
                <li class="exit">Sair</li>
            </ul>
        </nav>
        <article id="productPainel">
            <div class="product">
                <h2>Smartphone</h2><!--Div modificada-->
                <img src="../static/img/home/celular.jpg">
                <p>Smartphone Mockup. Tela 6,5 polegadas, 4GB de memória RAM e resolução de 16MP. </p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 1900,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Notebook</h2>
                <img src="../static/img/home/notebook.jpg">
                <p>Notebook Mockup. Tela de 15,5 polegadas, Windows 10, SSD de 256GB e 8GB de memória RAM.</p>
                <p>Categoria: Informática</p>
                <p class="price">R$ 3700,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Tablet</h2>
                <img src="../static/img/home/tablet.jpg">
                <p>Tablet Mockup. Tela de 10,4 polegadas, 64GB de armazenamento interno, Android 10.</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 1650,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Smartwatch</h2>
                <img src="../static/img/home/smartwatch.jpg">
                <p>Smartchwatch Mockup. Bluetooth, tela sensivel ao toque e bateria duradoura.</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 620,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Carregador</h2>
                <img src="../static/img/home/carregador_portatil.jpg">
                <p>Carregador portátil da Mockup. 10000 MAH, sem fio, leve, somente na cor branca.</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 350,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Headphone</h2>
                <img src="../static/img/home/headphone.jpg">
                <p>Headphone. Com isolamento acústico, Bluetooth e almofadas auriculares. </p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 720,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
        </article>
        
        <footer>
            <p>&copy;Blue Store - 2021</p>
        </footer>
    </section>
    <!-- tudo ok? -->
</body>

</html>