<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Area do Administrador</title>
</head>

<body>
    <section>
        <header id="header">
            <h1>Blue Store</h1>
            <p>Painel do Administrador</p>
          
        </header>
        <nav id="navgation">
            <ul>
                <li>Adicionar produto</li>
                <li>Ir para loja</li>
                <li>Sobre nós</li>
                <li class="exit">Sair</li>
            </ul>
        </nav>
        <article id="productPainel">
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
            <div class="product">
                <h2>Produto</h2>
                <img src="../static/img/home/carrinho.gif">
                <p>Descrição do produto não precisa ser tão grande beleza ?</p>
                <p>Categoria: Eletrônicos</p>
                <p class="price">R$ 500,00</p>
                <div class="icons">
                    <i class="fas fa-edit"> Editar</i>
                    <i class="fas fa-trash"> Remover</i>
                </div>
            </div>
        </article>
        
        <footer>

            <p>&copy;Blue Store - 2021</p>
        </footer>
    </section>
</body>

</html>