<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/carrinho.css">
    <title>Meu carrinho</title>
</head>
<body>
    <nav>
        <ul>
            <h2>Blue Store</h2>
            <li><a href="">Home</a></li>
            <li><a href="">Store</a></li>
            <li><a href="">About Us</a></li>
         </ul>
    </nav>
    
    <header id="um">
        <div id="titulo">
            <h1>Meu carrinho</h1>
            <img src="../static/img/carrinho/carrinho_pag.png" alt="carrinho de compra">
        </div>
    </header>

    <section id="tabela">
        <table>
            <tr>
                <td id=produtos>Produtos</td>
                <td id=preço>Preço</td>
                
            </tr>
            
            <tr>

            </tr>
        </table>
    </section> 
    
</body>
</html>