<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/colaboradores.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Colaboradores</title>
    </head>
    <body>
        <header>
            <section id="cabecalho">
                <nav id="menu">
                    <ul>
                        <li><a href=""></a><a href="">Home</a><a href=""></a></li>
                        <li><a href=""></a><a href="">Loja</a><a href=""></a></li>
                    </ul>
                </nav>
                <h1 class="titulo">Blue Store</h1>
        </section>
        </header>
        <section id="colab">
          <div class="colaboradores">  
            <div>
                <img src="../static/img/colaboradores/img.png">    
                <h2>Aghata</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga magni rerum architecto ex quisquam necessitatibus laborum optio, eum distinctio inventore exercitationem error nesciunt quos enim dolor, ducimus harum autem?</p>
                <div class="icons">
                    
                    <a href="https://www.linkedin.com/in/mariana-salvador-assis/" target="_blank"> 
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                    </a>
            
                    <a href="https://github.com/MarianaMSA" target="_blank"> 
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            
                    <a href="https://www.instagram.com/marianamsalvador/" target="_blank"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div>
                <img src="../static/img/colaboradores/img.png">    
                <h2>Eduardo</h2>  
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga magni rerum architecto ex quisquam necessitatibus laborum optio, eum distinctio inventore exercitationem error nesciunt quos enim dolor, ducimus harum autem?</p>  
                <div class="icons">
                    
                    <a href="https://www.linkedin.com/in/mariana-salvador-assis/" target="_blank"> 
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                    </a>
            
                    <a href="https://github.com/MarianaMSA" target="_blank"> 
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            
                    <a href="https://www.instagram.com/marianamsalvador/" target="_blank"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>  
            </div>
            <div>
                <img src="../static/img/colaboradores/img.png">    
                <h2>Luis</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga magni rerum architecto ex quisquam necessitatibus laborum optio, eum distinctio inventore exercitationem error nesciunt quos enim dolor, ducimus harum autem?</p>          
                <div class="icons">
                    
                    <a href="https://www.linkedin.com/in/mariana-salvador-assis/" target="_blank"> 
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                    </a>
            
                    <a href="https://github.com/MarianaMSA" target="_blank"> 
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            
                    <a href="https://www.instagram.com/marianamsalvador/" target="_blank"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>        
            </div>
            <div>
                <img src="../static/img/colaboradores/img.png">    
                <h2>Lucas</h2>  
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga magni rerum architecto ex quisquam necessitatibus laborum optio, eum distinctio inventore exercitationem error nesciunt quos enim dolor, ducimus harum autem?</p>   
                <div class="icons">
                    
                    <a href="https://www.linkedin.com/in/mariana-salvador-assis/" target="_blank"> 
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                    </a>
            
                    <a href="https://github.com/MarianaMSA" target="_blank"> 
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            
                    <a href="https://www.instagram.com/marianamsalvador/" target="_blank"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>            
            </div>
            <div>
                <img src="../static/img/colaboradores/img.png">             
                <h2>Mariana</h2>  
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fuga magni rerum architecto ex quisquam necessitatibus laborum optio, eum distinctio inventore exercitationem error nesciunt quos enim dolor, ducimus harum autem?</p>         
                
                <div class="icons">
                    
                    <a href="https://www.linkedin.com/in/mariana-salvador-assis/" target="_blank"> 
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i> 
                    </a>
            
                    <a href="https://github.com/MarianaMSA" target="_blank"> 
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
            
                    <a href="https://www.instagram.com/marianamsalvador/" target="_blank"> 
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>       
            </div>
            

        </section>
        <footer>


        </footer>
        <script type="text/javascript" src="../static/js/colaboradores.js"></script>

        
    </body>
</html>
                