<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Blue store</title>
</head>
<body>
    <section>
        <div id="loginCard">
            <div class="loginIcon">
                <img src="../static/img/home/avatar.svg" alt="avatar icon">
                <h1>Login</h1>
            </div>
            <form class="loginForm">
                <i class="fas fa-user-friends">
                    <input id="username" type="text" placeholder="Usuário">
                </i>
                
                <i class="fas fa-key">
                    <input id="password" type="password" placeholder="Senha">
                </i>
                
                <button type="submit">Entrar</button>
            </form>
            <a href=""><button class="btn">Voltar</button></a>
        </div>
        <div id="descriptionCard">
            <img src="../static/img/logo.png" alt="CArrinho">
            <h1>Blue Store</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, aperiam? Facilis voluptates voluptatibus nemo obcaecati atque quam dolor animi vitae, officiis nisi! Velit at corporis nostrum natus, impedit molestiae quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis omnis corrupti rem voluptatibus placeat ducimus quaerat maxime doloribus deleniti quis dolorum sit aperiam magnam quasi, eligendi, autem quo sunt at!</p>
            <div class="descriptionBtn">
                <button class="btn firstBtn">Bluemer <i class="fas fa-arrow-right"></i></button>
                <button class="btn seccondBtn">Cliente <i class="fas fa-arrow-right"></i></button>
                <button class="btn thirdBtn">Sobre nós <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </section>
    <img id="sideImg" src="../static/img/home/admin.svg" alt="">
</body>
</html>