<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Blue store</title>
</head>
<body>
    <section>
        <div id="loginCard">
            <div class="loginIcon">
                <img src="../static/img/home/avatar.svg" alt="avatar icon">
                <h2>Login</h2>
            </div>
            <form class="loginForm">
                <i class="fas fa-user-friends">
                    <input id="username" type="text" placeholder="Usuário">
                </i>
                
                <i class="fas fa-key">
                    <input id="password" type="password" placeholder="Senha">
                </i>
                
                <button type="submit">Entrar</button>
            </form>
            <a href=""><button class="btn jsBtn">Voltar</button></a>
        </div>
        <div id="descriptionCard">
            <img src="../static/img/home/selecting.svg" alt="CArrinho">
            <h1>Blue Store</h1>
            <p>Nesse projeto a proposta é fazer um CRUD, escolhemos fazer uma aplicação para uma loja de eletronicos, onde temos um painel de administrador para ter acesso você precisa efetuar login, lá pode editar os itens a venda, adicionar um novo ou deletar os itens, também temos uma area de vendas onde o cliente pode selecionar itens e adicionar ao carrinho, usamos HTML, CSS e JS puro no frontend usamos o mini framework FLASK em python para o backend e fizemos o deploy com HEROKU.</p>
            <div class="descriptionBtn">
                <h3 class="btnHeader">Escolha como quer continuar:</h3>
                <button class="btn firstBtn">vendedor </button>
                <button class="btn seccondBtn">Cliente </button>
                <button class="btn thirdBtn">Sobre nós </button>
            </div>
        </div>
    </section>
    <img id="sideImg" src="../static/img/home/initial.svg" alt="">
    <script type="text/javascript" src="../static/js/home/index.js"></script>
</body>
</html>
<!-- puta que pariu funciona desgrama -->