<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Admin Login</title>
</head>
<body>
<section>
    <div id="loginCard">
        <div class="loginIcon">
            <img src="../static/img/home/avatar.svg" alt="avatar icon">
            <h2>Login</h2>
        </div>
        <form class="loginForm">
            <i class="fas fa-user-friends">
                <input id="username" type="text" placeholder="Usuário">
            </i>
    
            <i class="fas fa-key">
                <input id="password" type="password" placeholder="Senha">
            </i>
    
            <button type="submit">Entrar</button>
        </form>
        <a href=""><button class="btn jsBtn">Voltar</button></a>
        <img id="sideImg" src="../static/img/home/admin.svg" alt="">
    </div>
</section>
</body>
</html>


