<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7515ad9b6d.js" crossorigin="anonymous"></script>
    <title>Store</title>
    <link rel="stylesheet" href="../static/css/loja.css">
</head>

<body>
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    

    <header id="header">
        <h1>Blue Store</h1>
        <p>Loja</p>

    </header>
    <nav id="navgation">

        <ul class="menu">

            <li class="item">
                <a class="link" href="/cart"><i class="fas fa-shopping-cart"></i><span>Carrinho</span></a>
            </li>

            <li class="item">
                <a class="link" href="/about"><i class="fa fa-users" aria-hidden="true"></i><span>Sobre nós</span></a>
            </li>

            <li class="item">
                <a class="link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Sair</span></a>
            </li>
        </ul>

    </nav>

    <article>
        <aside class='lateral'>
            <div>
            
                <h3>Categoria:</h3>
                <a class="btn btn-danger" href="/filter/ssd">SSD</a>
                <a class="btn btn-danger" href="/filter/ram">Memória RAM</a>
                <a class="btn btn-danger" href="/filter/video">Placa de vídeo</a>

            </div>
        </aside>

        <section class='listaP'>
            {% for p in produto %}
            <div class='card'>
                <img src="{{p.imagem}}" alt="img-lorem">
                <h2>{{p.nome}}</h2>
                <p>{{p.descricao}}</p>
                <p>{{p.preco}}</p>
                <a href="/cart/{{p.id}}"><i class="fas fa-cart-plus"></i></a>
            </div>
            {% endfor %}
        </section>

    </article>

    <footer>
        <p>&copy; Blue Store - 2021</p>
    </footer>

</body>

</html>