<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
</head>
<body>
    <article> 
        <div class="product">
            {% for v in tabela%}
            <h2>{{v.nome}}</h2>
            <img src="{{v.link}}" alt="">
            <p>{{v.descricao}}</p>
            <p class="price">{{v.preco}}</p>
            <div class="icons">
                <i class="fas fa-edit"> Editar</i>
                <i class="fas fa-trash"> Remover</i>
            </div>
            {% endfor %}

        </div>
    </article>
</body>
</html>
